@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 23%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --notion-link-underline-thickness: 2px !important;
    --fg-color-underline: rgba(55, 53, 47, 1) !important;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
}

.notion-collection-card {
  @apply border hover:border-white/20 hover:bg-accent transition-all duration-200 !important;
}

.notion-page-icon-inline {
  display: none;
}

.notion-page-link {
  height: auto !important;
}

.notion-list-body {
  border-top: none !important;
  /* gap: 8px; */
}

.notion-asset-wrapper {
  position: relative;
  @apply mb-4 !important;
}

.notion-asset-wrapper > *:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 1px hsl(var(--border)) inset;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.notion-title {
  @apply leading-normal text-5xl md:text-6xl font-light tracking-tight font-serif !important;
  line-height: 1.2 !important;
  /* @apply text-transparent bg-clip-text bg-gradient-to-br from-gray-300 to-gray-600 !important; */
}

.notion-text,
.notion-list,
.notion-quote {
  @apply text-sm sm:text-base md:text-lg mb-4 !important;
}

.notion-collection-column-title {
  width: auto !important;
  @apply h-0 mr-2 text-sm sm:text-base md:text-lg !important;
}

.notion-collection-column-title > svg {
  display: none;
}

.notion-property-multi_select-item {
  @apply bg-transparent w-auto p-0 underline !important;
}

.notion-property {
  @apply text-sm sm:text-base md:text-lg !important;
}

.notion-property-text {
  @apply uppercase font-bold tracking-[1.5px] text-[10px] py-0 px-2 bg-secondary rounded-full !important;
}

.notion-collection-row-value {
  @apply p-0 !important;
}

.notion-collection-row {
  @apply pb-8 mb-8 border-b border-border !important;
}

.logotype {
  @apply font-serif text-2xl;
  background: linear-gradient(
    90deg,
    rgba(28, 127, 238, 1) 0%,
    rgba(95, 21, 242, 1) 20%,
    rgba(186, 12, 248, 1) 40%,
    rgba(251, 7, 217, 1) 60%,
    rgba(255, 0, 0, 1) 100%
  );
  @apply drop-shadow-lg bg-clip-text text-transparent hover:text-transparent transition-all duration-500 tracking-tight;
}

.notion-gallery-grid {
  @apply border-none !important;
}

.notion-page-title-text {
  @apply whitespace-normal font-light text-sm sm:text-base md:text-lg font-sans !important;
}

.notion-property-title {
  @apply whitespace-nowrap text-sm sm:text-base md:text-lg font-sans !important;
}

.notion-list-item-title {
  @apply max-w-full !important;
}

.notion-h-title {
  @apply font-light font-serif !important;
}

.notion-hr {
  @apply border !important;
}

.notion > * {
  padding: 0 !important;
}

.notion-list-body {
  overflow: auto !important;
}

.notion-list-item-body {
  flex-shrink: 0;
  overflow: auto !important;
}

.notion-list-item-body > *:first-child {
  margin: 0;
}

.notion-collection {
  max-width: calc(100vw - 2rem);
  width: calc(100% + 24px);
  overflow: auto !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.notion-list-item {
  @apply gap-1 py-2 w-full max-w-none overflow-auto flex flex-col sm:flex-row items-start sm:items-center !important;
}

.notion-list-item.notion-page-link {
  --fg-color-underline: transparent;
  --notion-link-underline-thickness: 0px !important;
  transition: all 300ms ease-in-out;
}
@media (min-width: 768px) {
  .notion-list-item {
    padding: 8px 12px !important;
  }

  .notion-list-item.notion-page-link > :last-child:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18.1348" height="14.8145"><g><rect height="14.8145" opacity="0" width="18.1348" x="0" y="0"/><path d="M18.1348 7.40234C18.1348 7.1582 18.0371 6.93359 17.8418 6.74805L11.3672 0.292969C11.1523 0.078125 10.9473 0 10.7129 0C10.2344 0 9.86328 0.351562 9.86328 0.839844C9.86328 1.07422 9.94141 1.29883 10.0977 1.45508L12.2852 3.68164L16.1621 7.2168L16.3574 6.72852L13.2129 6.5332L0.859375 6.5332C0.351562 6.5332 0 6.89453 0 7.40234C0 7.91016 0.351562 8.27148 0.859375 8.27148L13.2129 8.27148L16.3574 8.07617L16.1621 7.59766L12.2852 11.123L10.0977 13.3496C9.94141 13.4961 9.86328 13.7305 9.86328 13.9648C9.86328 14.4531 10.2344 14.8047 10.7129 14.8047C10.9473 14.8047 11.1523 14.7168 11.3477 14.5312L17.8418 8.05664C18.0371 7.87109 18.1348 7.64648 18.1348 7.40234Z" fill="%23000" fill-opacity="0.85"/></g></svg>');
    background-repeat: no-repeat;
    background-position: 100%;
    opacity: 0;
    transition: all 200ms ease-in-out;
    width: 32px;
    will-change: width, opacity;
    transform: scale-x(0);
  }

  .notion-list-item.notion-page-link:hover {
    background: rgba(0, 0, 0, 0.03) !important;
    border-radius: 8px;
  }

  .notion-list-item.notion-page-link:hover > :last-child:after {
    opacity: 1;
    width: 32px;
    transform: scale-x(1);
    background-position: center;
  }
}
