.flex {
  @extend %flex;
}

.flex-2 {
  @extend .flex;
  align-items: flex-start;
  > * {
    @include flex(0, 1, 50%);
    width: 50%;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }

}

@media screen and (max-width: 500px) {
  .flex-2 {
    > * {
      margin: 0 auto 2rem;
      width: 100%;
      &:last-child {
        margin: 0 auto 2rem;
      }
    }
  }

  .flex {
    display: block;
  }
}
