<header>
  <nav>
    <ul class="navigationList">
      {% assign current = page.url | downcase | split: '/' %}
      <li class="navigationItem{% if page.url == '/index.html' %} is-selected{% endif %}">
        <a href="/">Info</a>
      </li>
      <li class="navigationItem{% if current[1] == 'work' %} is-selected{% endif %}">
        <a href="/work">Work</a>
      </li>
      <li class="navigationItem{% if current[1] == 'blog' %} is-selected{% endif %}">
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
