%clearfix:before,
%clearfix:after {
  content: ' ';
  display: table;
}

%clearfix:after {
  clear: both;
}

%flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($grow, $shrink, $basis) {
-webkit-box-flex: $grow $shrink $basis;
    -webkit-flex: $grow $shrink $basis;
        -ms-flex: $grow $shrink $basis;
            flex: $grow $shrink $basis;
}
