.Work {
  @extend %flex;
}

.Work-links {
  @include flex(1, 0, auto);
  margin-right: 3rem;
}

.Work-link {
  margin-bottom: 2rem;
  h1 {
    margin-bottom: 0.5rem;
  }

  time {
    color: #666;
  }
}

.Work-grid {
  @extend %flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.Work-grid-item {
  @include flex(1, 1, 300px);
  margin-right: 1em;
  margin-bottom: 1em;
  &:hover .Work-grid-info {
    opacity: 1;
  }
}

.Work-grid-itemLink {
  position: relative;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.Work-grid-image {
  height: auto;
  margin: 0;
}
.Work-grid-info {
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.95);
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
}

.Work-grid-meta {
  font-size: 0.875rem;
  font-weight: 300;
  color: #999;
  text-transform: uppercase;
}

.Work-grid-title {
  font-size: 1.25em;
  line-height: 1.375rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.Work-grid-excerpt {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 300;
  color: #666;
  margin-bottom: 0.5rem;
  a:hover & {
    text-decoration: none !important;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 800px) {
  .Work-grid-image {
    margin-bottom: 1rem;
  }
  .Work-grid-info {
    background: rgba(255,255,255,0.95);
    position: relative;
    opacity: 1;
    padding: 0;
  }

  .Work {
    display: block;
  }
  
  .Work-grid {
    display: block;
  }
}

.WorkItem-header {
  margin-bottom: 2rem;
}  
.WorkItem-title {
  margin: 0;
  line-height: 1.25em;
}

.WorkItem-title,
.WorkItem-visit {
  display: inline-block;
  vertical-align: middle;
}
.WorkItem-visit {
  color: black;
  margin-left: 1rem;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 0.875rem;
  @media screen and (max-width: 500px) {
    margin-left: 0;
    display: block;
    margin-top: 1em;
    font-size: 1.5rem;
    text-transform: none;
    text-align: center;
  }


  &:hover {
    background: #eee;
    text-decoration: none;
  }
  &:active {
    background: #ccc;
    border: 1px solid #aaa;
  }
}

.WorkItem-timestamp {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: #666;
  @media screen and (max-width: 500px) {
    time {
      display: block;
      margin-top: 0.75rem;
      color: #aaa;
    }
  }

}

.WorkItem-content, .Post-content {
  ul {
    color: #333;
    list-style-type: disc;
    font-size: 1.375rem;
    line-height: 2rem;
    padding-left: 2em;
  }

  li {
    margin-top: 1rem;
  }
}
