.tape {
  background-color: hsla(0, 0%, 100%, 0.2);
  box-shadow: inset 0 0 1em 0.5em hsla(0, 0%, 100%, 0.1);
  height: 2em;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -5%;
  width: 40%;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, 0.3));
}

.tape:after,
.tape:before {
  background-size: 0.4em 0.4em;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 0.2em;
}
.tape:after {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      hsla(0, 0%, 100%, 0.3) 50%
    ),
    linear-gradient(-45deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%);
  background-position: 0 100%;
  left: -0.2em;
}
.tape:before {
  background-image: linear-gradient(
      135deg,
      transparent 50%,
      hsla(0, 0%, 100%, 0.3) 50%
    ),
    linear-gradient(-135deg, transparent 50%, hsla(0, 0%, 100%, 0.3) 50%);
  background-position: 100% 100%;
  right: -0.2em;
}
